<div *ngIf="!adicionando">
  <div class="tarefa-header">
    <b class="titulo" (click)="adicionando = true">
      Adicionar nova tarefa
    </b>
  </div>
</div>
<div *ngIf="adicionando">
  <div class="tarefa-header">
    <input class="titulo form-control form-control-sm" type="text" [(ngModel)]="tarefa.titulo" placeholder="Titulo">
    <div class="buttons">
      <button class="btn btn-sm btn-danger" (click)="cancelarAdicao()">Cancelar</button>
      <button class="btn btn-sm btn-success" (click)="confirmarAdicao()">Confirmar</button>
    </div>
  </div>
  <div>
    <textarea class="descricao form-control form-control-sm" [(ngModel)]="tarefa.descricao" placeholder="Descrição">
        {{ tarefa.descricao }}
    </textarea>
    <div class="dados-tarefa">
      <div>
        <span class="dado-tarefa">PRIORIDADE</span>
        <select class="form-control form-control-sm" [(ngModel)]="tarefa.prioridade">
          <option *ngFor="let prioridade of prioridades">{{ prioridade }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
