.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.main > div, app-tarefa-criar{
    background-color:#535353;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    width: 45%;
    height: fit-content;
}

.tarefa-header{
    display: flex;
    justify-content: space-between;
}

.titulo{
    font-size: 16px;
    margin-right: 5px;
    flex: 1;
    white-space: nowrap;       /* impede quebra de linha */
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

button{
    font-size: 14px;
}

.descricao{
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}

.dados-tarefa{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.dados-tarefa > div{
    display: flex;
    align-items: center;
    gap: 4px;
}

.dado-tarefa{
    background-color: #c7c7c7;
    color: black;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
    height: fit-content;
}

@media(max-width: 700px){
    .main > div, app-tarefa-criar{
        width: 100%;
    }
}

@media(max-width: 500px){
    .titulo{
        font-size: 13px;
    }

    .main > div, app-tarefa-criar, button, input, textarea, select{
        font-size: 12px !important;
    }

    button{
        height: 26px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .buttons{
        gap: 5px;
    }

    .dado-tarefa{
        font-size: 10px;
    }
}

@media(max-width: 400px){
    .titulo{
        font-size: 11px;
    }

    .main > div, app-tarefa-criar, button, input, textarea, select{
        font-size: 10px !important;
    }

    button{
        height: 24px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .dado-tarefa{
        font-size: 9px;
    }
}
